<div th:fragment="fragment" class="table-filter row">
    <div class="filter-col col-lg-2">
        <select class="custom-select">
            <option selected>Registros por página</option>
            <option value="10">10</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>
    <div class="filter-col col-lg-5">                                              
        <input type="search" class="form-control pull-right" placeholder="Pesquisar...">                       
    </div>
</div>
