<div th:fragment="fragment" class="dataTables_paginate paging_simple_numbers">
    <ul class="pagination">
        <li class="paginate_button page-item previous disabled">
            <a href="#" class="page-link">Anterior</a>
        </li>
        <li class="paginate_button page-item active">
            <a href="#" class="page-link">1</a>
        </li><li class="paginate_button page-item ">
            <a href="#" class="page-link">2</a>
        </li>
        <li class="paginate_button page-item next">
            <a href="#" class="page-link">Próximo</a>
        </li>
    </ul>
</div>
