<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">   
    <!-- Fragment -->
    <div layout:fragment="content">


        <!-- Card -->
        <div class="card card-primary">

            <header class="card-header">
                <h2 class="card-title">
                    <i class="fa fa-users"></i>
                    [[${headerTitle}]]
                </h2>
            </header>

            <!-- Card Body -->
            <div class="card-body">


                <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <!-- Table Filter -->
                    <div th:replace="app/template/table-filter :: fragment"></div>
                    <!-- Table Filter -->

                    <div class="table-responsive">                        
                        <table class="table data-paginate table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>ID #</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                    <th>Telefone</th>                                   
                                    <th>Status</th>
                                    <th>Ação</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="indicado : ${modelIndicados}">
                                    <td>
                                        <span>[[${indicado.id}]]</span>
                                    </td>
                                    <td>
                                        <span>[[${indicado.nome}]]</span>
                                    </td>
                                    <td>
                                        [[${indicado.email}]]
                                    </td>
                                    <td>
                                        [[${indicado.telefone}]]
                                    </td>                                    
                                    <td>
                                        <span class="badge badge-danger">[[${indicado.status}]]</span>
                                    </td>
                                    <td>
                                        <a th:href="@{/app/redes/indicados/1}" data-toggle="tooltip" data-placement="top" title="Visualizar" class="btn btn-xs btn-primary">
                                            <i class="fa fa-eye fa-fw"></i>
                                        </a>
                                    </td>
                                </tr>                           

                            </tbody>

                        </table>   
                    </div>

                    <!-- Table Paginator -->
                    <div th:replace="app/template/table-paginator :: fragment"></div>
                    <!-- Table Paginator -->

                </div>


            </div>
            <!-- Card Body -->

        </div>
        <!-- Card -->


        <script th:src="@{/app/assets/theme/template-vendor/jquery/jquery.js}"></script>        
        <script th:src="@{/app/assets/theme/template-vendor/bootstrap/js/bootstrap.js}"></script>


        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                rede();
            });
        </script>


    </div>
    <!-- Fragment -->
</html>