<div th:fragment="fragment" th:if="${param.logout}" class="ui-pnotify animate__animated animate__fadeInLeftBig message">
    <div class="notification ui-pnotify-container notification-success">
        <div class="ui-pnotify-icon"><span class="fas fa-check"></span></div>
        <h4 class="ui-pnotify-title">Sucesso!</h4>
        <div class="ui-pnotify-text">Logout realizado com sucesso!</div>
        <div style="margin-top: 5px; clear: both; text-align: right; display: none;"></div>
    </div>
</div>