<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">
    <div layout:fragment="content">


        <!-- Card Body -->
        <div class="card-body">
            <!-- Row -->
            <div class="row">
                <!-- Col -->
                <div class="col-lg-12">

                    


                    


                </div>
                <!-- Col -->
            </div>
            <!-- Row -->
        </div>
        <!-- Card Body -->


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                dashboard();
            });
        </script>


    </div>




</html>