<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{app/template/layout}">   
    <!-- Fragment -->
    <div layout:fragment="content">


        <!-- Card -->
        <div class="card card-primary">

            <header class="card-header">
                <h2 class="card-title">
                    <i class="fa fa-list"></i>
                    [[${headerTitle}]]
                </h2>
            </header>

            <!-- Card Body -->
            <div class="card-body">


                <div class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">

                    <!-- Table Filter -->
                    <div th:replace="app/template/table-filter :: fragment"></div>
                    <!-- Table Filter -->

                    <div class="table-responsive">                        
                        <table class="table data-paginate table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#ID</th>
                                    <th>Nome</th>
                                    <th>Login</th>
                                    <th>Data Aceite</th>                                    
                                    <th>Status</th>                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="pagamento : ${modelPagamentos}">
                                    <td>
                                        <span>[[${pagamento.id}]]</span>
                                    </td>
                                    <td>
                                        <span >[[${pagamento.nome}]]</span>
                                    </td>
                                    <td>
                                        [[${pagamento.login}]]
                                    </td>
                                    <td>
                                        [[${pagamento.dataAceite}]]
                                    </td>                                   
                                    <td>
                                        <span class="badge badge-danger">[[${pagamento.status}]]</span>
                                    </td>                                    
                                </tr>                           

                            </tbody>

                        </table>   
                    </div>

                    <!-- Table Paginator -->
                    <div th:replace="app/template/table-paginator :: fragment"></div>
                    <!-- Table Paginator --> 

                </div>


            </div>
            <!-- Card Body -->

        </div>
        <!-- Card -->


        <script th:src="@{/app/assets/theme/template-vendor/jquery/jquery.js}"></script>        
        <script th:src="@{/app/assets/theme/template-vendor/bootstrap/js/bootstrap.js}"></script>


        <script>
            $(function () {
                $('[data-toggle="tooltip"]').tooltip()
            })
        </script>


        <script type="text/javascript">
            window.addEventListener("load", function (event) {
                pedido();
            });
        </script>


    </div>
    <!-- Fragment -->
</html>